<div class="header">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
            <h1 class='text-center Sports-Village' style='color:#FFFFFF'>Sports Village</h1>
          </div>
      </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= render 'layouts/navbar_login' %>
<% else %>
  <%= render 'layouts/navbar' %>
<% end %>